*{
    margin: 0px;
}
.Main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}
@font-face {
    font-family: my-cool-font;
    src: url(assets/Norse-Bold.otf);
}
  

.Center{
    display: flex;
    justify-content: space-between;
}


.Left{
    display: flex;
    flex-direction: column;
    width: 750px;
    height:975px;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    padding: 25px;
    background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    padding: 0%;
}
.LeftTop{
    height: 215px;
}
.LeftMid{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.LeftMid1{
    background-image: url('assets/odin-lined.png');
    width: 120px;
    height: 160px;
    background-size: cover;
    color: white;

}
.LeftMid2{
    font-size: 120px;
    font-family: my-cool-font;
    color: white;
}

.LeftBottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height:700px;
}

.LeftBottom2{
    color: white;

    margin-bottom: 30px;
    font-weight: 300;
}

.link {color: white; } 

.Right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:1200px;
}
.RightTop{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(252, 247, 247);
    height: 350px;
}
.RightMid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 300px;
    box-shadow: 0 2px 5px rgb(218, 218, 218);
    padding-top: 22px;
    
}
.RightBottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(252, 247, 247);
    height: 300px;
}

.RightTop1{
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 150px;
    max-width: 700px;
}

.RightTop2{
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.RightMid1,.RightMid2, .RightMid3, .RightMid4{
    display: flex;
    justify-content: flex-start;
    gap:100px;
    margin-left: 50px;
}

.RightMid1{
    margin-top: 35px;
    font-size: 30px;
    font-weight: 700;
}
.RightMid4{
    margin-bottom: 35px;
}

.RightMid2Right{
    display: flex;
    flex-direction: column;

}

input
{
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    height: 1.5rem;
    width: 20rem;
    

}
input:focus {
    outline: 0;
    box-shadow: 3px 3px 10px grey;
    border: 1px solid blue;
}
  




.CreateAccountButton{
    background-color:#596D48 ;
    font-size: 24px;
    font-weight: 700;
    color: white;
    width: 300px;
    height:50px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #596D48;
    margin-top: 30px;
    margin-left:50px;
    
}


.RightBottom2
{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    gap:7px;
    margin-top:30px;
    margin-left: 50px;
    
}

.RightBottom2Right
{
    color: #596D48;
}