*{
    margin: 0px;
}
.Main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}
@font-face {
    font-family: my-cool-font;
    src: url(Norse-Bold.otf);
}
  

.Center{
    display: flex;
    justify-content: space-between;
}


.Left{
    display: flex;
    flex-direction: column;
    width: 1100px;
    height:900px;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    padding: 25px;
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;

}
.LeftTop{

}
.LeftMid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LeftBottom{
    height:300px
}

.LeftMid1{
    background-image: url('odin-lined.png');
    width: 120px;
    height: 160px;
    background-size: cover;

}
.LeftMid2{
    font-size: 120px;
    font-family: my-cool-font;
    color: white;
}
.Right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.RightTop{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: lightgray;
    height: 380px;
}
.RightMid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 240px;
    
}
.RightBottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: lightgray;
    height: 380px;
}

.RightTop1{
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 150px;
}

.RightTop2{
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.RightMid2, .RightMid3, .RightMid4{
    display: flex;
    justify-content: space-between;
}


.RightMid2Right{
    display: flex;
    flex-direction: column;

}

label[for=email]
{
    
}




.CreateAccountButton{
    background-color:#596D48 ;
    font-size: 24px;
    font-weight: 700;
    color: white;
    width: 300px;
    height:50px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #596D48;
    margin-top: 30px;
    margin-left:50px;
    
}


.RightBottom2
{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    gap:7px;
    margin-top:30px;
    margin-left: 50px;
    
}

.RightBottom2Right
{
    color: #596D48;
}